extends layout.pug

block content
    div.row.justify-content-center.mt-5
        div.col-6.p-5.bg-light.border
            h2.mb-5 Change Username
            div.mb-3.bg-danger #{error}
            form#createPost-frm(action="/settings/username" method="post" )
                div.mb-3
                    label.form-label(for="title") Current Username
                    input#title-ipt.form-control(disabled='' type="text" name="title" value=title placeholder="Current username")
                    div#title-fdbErr.invalid-feedback
                div.mb-5
                    label.form-label(for="title") New Username
                    input#title-ipt.form-control(type="text" name="title" value=title placeholder="Enter new username ...")
                    div#title-fdbErr.invalid-feedback
                button#createPost-btn.btn.btn-primary(type="submit") Apply changes