extends layout.pug
include mixin

block content

    div.row.mt-3
        div.col-9
            h2.mb-1= "Community"
            div.row.text-black
                div.mt-2.h4=  community.name
            div.row.text-black
                div.mb-5= "Description: " + community.description
            h2.mb-5= "Posts"
            div#posts-lgp.list-group
                +createPostsTemplate(posts)

        div.col-3
            label.p-2.bg-light.border(for="admins") Admins
            div#myCommunities.list-group
                +createAdminsTemplate(admins)
            div.mt-3
            if isAdmin
                label.p-2.bg-light.border() Admin Privileges
                    div.mt-2.h4=  "Add Admins"
                    div.mt-2.h4=  "Change Community Name"
                    div.mt-2.h4=  "Change Community Description"


