extends layout.pug
include mixin

block content 

    div.row.mt-3
        div.col-9
            div#posts-lgp.list-group
                +createPostsTemplate(posts)

        div.col-3
            label.p-2.bg-light.border() Sort by
            div.col.mt-2.mb-5
                if mode === "t"
                    button.btn.btn-primary(onClick="location.href=\"/\"")
                        i.fas.fa-clock.me-2
                        span Time
                    button.btn.btn-outline-success(onClick="location.href=\"/likes\"")
                        i.fas.fa-thumbs-up.me-2
                        span Likes
                    button.btn.btn-outline-danger(onClick="location.href=\"/comments\"")
                        i.fas.fa-edit.me-2
                        span Comments
                else if mode === "l"
                    button.btn.btn-outline-primary(onClick="location.href=\"/\"")
                        i.fas.fa-clock.me-2
                        span Time
                    button.btn.btn-success(onClick="location.href=\"/likes\"")
                        i.fas.fa-thumbs-up.me-2
                        span Likes
                    button.btn.btn-outline-danger(onClick="location.href=\"/comments\"")
                        i.fas.fa-edit.me-2
                        span Comments

                else if mode === "c"
                    button.btn.btn-outline-primary(onClick="location.href=\"/\"")
                        i.fas.fa-clock.me-2
                        span Time
                    button.btn.btn-outline-success(onClick="location.href=\"/likes\"")
                        i.fas.fa-thumbs-up.me-2
                        span Likes
                    button.btn.btn-danger(onClick="location.href=\"/comments\"")
                        i.fas.fa-edit.me-2
                        span Comments



            div.mt-3
            label.p-2.bg-light.border(for="hotCommunities") Hot Communities
            div#hotCommunities.list-group
                +createCommunityTemplate(hotCommunities)