extends layout.pug
include mixin

block content 

    div.row.mt-3
        div.col-9
            div#posts-lgp.list-group
                +createPostsTemplate(posts)

        div.col-3
            label.p-2.bg-light.border Sort by
            div.mt-2.mb-5
                if mode === "t"
                    div.row.mb-1
                        button.col-6.btn.btn-dark(onClick="location.href=\"/\"")
                            i.fas.fa-clock.me-2
                            span Time
                    div.row.mb-1
                        button.col-6.btn.btn-outline-secondary(onClick="location.href=\"/likes\"")
                            i.fas.fa-thumbs-up.me-2
                            span Likes
                    div.row.mb-1
                        button.col-6.btn.btn-outline-secondary(onClick="location.href=\"/comments\"")
                            i.fas.fa-edit.me-2
                            span Comments

                else if mode === "l"
                    div.row.mb-1
                        button.col-6.btn.btn-outline-secondary(onClick="location.href=\"/\"")
                            i.fas.fa-clock.me-2
                            span Time
                    div.row.mb-1
                        button.col-6.btn.btn-dark(onClick="location.href=\"/likes\"")
                            i.fas.fa-thumbs-up.me-2
                            span Likes
                    div.row.mb-1
                        button.col-6.btn.btn-outline-secondary(onClick="location.href=\"/comments\"")
                            i.fas.fa-edit.me-2
                            span Comments

                else if mode === "c"
                    div.row.mb-1
                        button.col-6.btn.btn-outline-secondary(onClick="location.href=\"/\"")
                            i.fas.fa-clock.me-2
                            span Time
                    div.row.mb-1
                        button.col-6.btn.btn-outline-secondary(onClick="location.href=\"/likes\"")
                            i.fas.fa-thumbs-up.me-2
                            span Likes
                    div.row.mb-1
                        button.col-6.btn.btn-dark(onClick="location.href=\"/comments\"")
                            i.fas.fa-edit.me-2
                            span Comments

            div.mt-3
            label.p-2.bg-light.border(for="hotCommunities") Hot Communities
            div#hotCommunities.list-group
                +createCommunityTemplate(hotCommunities)