doctype html
html(lang="en")
    head 
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
        //- link(rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.css')
        title Reddit
    body 
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container-fluid
                a.navbar-brand(href='/') 
                    i.me-1.fab.fa-reddit
                    span Reddit
                ul.navbar-nav.me-5
                    li.nav-item
                        a.nav-link(href='/posts/create')
                            i.fas.fa-plus.me-2
                            span Post  
                    li.nav-item
                        a.nav-link(href='/communities/create')
                            i.fas.fa-plus.me-2
                            span Community
                form.d-flex#search_bar(action="/search" method="get")
                    input.form-control.me-2#search_bar_input(type='search' name="searchInput" placeholder='Search' aria-label='Search')
                    button.btn.btn-outline-secondary(type='submit') Search

                if(session)
                    div.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown' aria-expanded='false')
                            i.fas.fa-cog.me-2
                            span Settings
                        ul.dropdown-menu(aria-labelledby='navbarDropdown')
                            li
                                a.dropdown-item(href=`/users/user/${session._id}`)
                                    i.fas.fa-user.me-2
                                    span Profile
                            li
                                a.dropdown-item(href='/settings/username/') 
                                    i.fas.fa-user-edit.me-2
                                    span Change Username
                            li
                                a.dropdown-item(href='/settings/email') 
                                    i.fas.fa-at.me-2
                                    span Change Email
                            li
                                a.dropdown-item(href='/settings/password') 
                                    i.fas.fa-key.me-2
                                    span Change Password
                            li
                                a.dropdown-item(href='/settings/theme') 
                                    i.fas.fa-adjust.me-2
                                    span Change Theme
                            li
                                a.dropdown-item(href='/savedposts') 
                                    i.fas.fa-save.me-2
                                    span Saved Posts
                            li
                                a.dropdown-item(href='/users/logout')
                                    i.fas.fa-power-off.me-2
                                    span Logout

                    i.fas.fa-user.me-2
                    span Profile  
        div.container
            block content

    script(src='/jquery/dist/jquery.js')
    script(src='/bootstrap/dist/js/bootstrap.js')
    script(src='/@fortawesome/fontawesome-free/js/all.js')
    script(src='/js/common.js')
    script(src='/js/createPost.js')
    script(src='/js/createCommunity.js')
    script(src='/js/createUser.js')
    script(src='/js/loginUser.js')
    script(src='/js/changeUsername.js')
    script(src='/js/changePassword.js')
    script(src='/js/changeEmail.js')
    script(src='/js/search.js')
    script(src='/js/changeCommunityDesc.js')
    script(src='/js/changeCommunityName.js')
    script(src='/js/search.js')
    //- script(src='/@fortawesome/fontawesome-free/js/brands.js')
    //- script(src='/@fortawesome/fontawesome-free/js/solid.js')
    //- script(src='/@fortawesome/fontawesome-free/js/fontawesome.js')
