extends layout.pug 

block content 
    div.row.justify-content-center.mt-5
        h2.mb-5 Manage acount 
            .col-md-3
                ul.nav.nav-pills.nav-stacked
                    li.active
                        a(href='#') Home
                    li
                        a(href='#') Menu 1
                    li
                        a(href='#') Menu 2
                    li
                        a(href='#') Menu 3
